/* ================ Section Преимущества ================ */
/* Карточка Преимущества */
.feature-title {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Расставляем Feature карточки по сетке и задаем ширину */
.feature-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--gap));
    margin-top: calc(-1 * var(--gap));
  }
}
.feature-item {
  width: 100%;
  @media screen and (min-width: 768px) {
    margin-left: var(--gap);
    margin-top: var(--gap);
    flex-basis: calc(100% / 2 - var(--gap));
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - var(--gap));
  }
}
.feature-item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: var(--gap);
  }
}
.feature-icon {
  margin-bottom: var(--gap);
  background-color: var(--feature-icon-bg-color);
  height: 120px;
  /* выравниваем иконку по центру */
  display: flex;
  justify-content: center;
  align-items: center;
}
