/* ===================== Footer ======================*/
.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    // flex-direction: row;
    flex-wrap: no-wrap;
    // align-items: baseline;
  }
}
.address {
  @media screen and (max-width: 1199px) {
    margin: 0 auto;
  }
}
/* Logo Footer*/
.footer .logo {
  color: var(--logo-footer-color);
  margin-right: 0;
  @media screen and (max-width: 1199px) {
    margin: 0 auto;
  }
}
/* Footer Contacts */
.footer-contact {
  margin-top: 20px;
}
.footer-contact .link {
  color: var(--hero-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  transition: color var(--btn-timing) cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-contact .link-dark {
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact .list-item:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

/* Footer Social Links */
.footer-social {
  margin: 60px auto;
  @media screen and (min-width: 768px) {
    margin: 0 auto;
  }
  @media screen and (min-width: 1200px) {
    margin: 0 93px 0 70px;
  }
}
.footer-social-paragraf {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--hero-text-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-social-list {
  display: flex;
  justify-content: center;
}
.footer-social-item:not(:last-child) {
  margin-right: 10px;
}
.footer-social-icon {
  fill: var(--active-button-text-color);
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--btn-timing) cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

/* Footer Подпишитесь на рассылку */
.subscription {
  @media screen and (max-width: 1199px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    // margin-right: auto;
  }
}
.subscription-paragraf {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--hero-text-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subscription-form {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  width: 100%;
}
.subscription-form-input {
  @media screen and (max-width: 1199px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    // margin-left: auto;
  }
  padding: 15px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #ffffff4d;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
/* Кнопка "Отправить" */
.subscription-form-button {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 10px 28px;
  margin: 20px auto 0;
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
    margin-top: 0;
  }
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--active-button-text-color);

  width: 200px;
  border-radius: 4px;
  background-color: var(--accent-color);
  cursor: pointer;
}
.subscription-icon {
  fill: var(--active-button-text-color);
  margin-left: 10px;
}
