/* ================= Header ================ */
/* рисуем нижнюю границу Header */
.header {
  border-bottom: 1px solid var(--header-border-color);
}
/* выстраиваем в ряд "Nav" навигацию (лого+нав) и "contacts" контакты в шапке */
.header .container {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    align-items: center;
  }
}
/* выстраиваем в ряд "Logo" лого и "navigation" меню навигации */
.nav {
  display: flex;
  align-items: center;
}
/* выстраиваем в ряд элементы "navigation" меню навигации: "Студия", "Портфолио" и "Контакты" */
.navigation {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: flex;
  align-items: center;
}
/* отодвигаем от "Logo" лого вправо "navigation" меню навигации */
.header .logo {
  margin-right: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
/* раздвигаем элементы "navigation" меню навигации */
.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.contacts {
  margin-top: -10px;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    /* выстраиваем в ряд элементы "contacts" контакты email и phone*/
    display: flex;
    margin-top: 0;
  }
  /* отодвигаем контакты "contacts" впрово */
  margin-left: auto;
}
/* раздвигаем элементы контакты "contacts" */
.contacts-item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

/* Header Navigation */
.navigation .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--alt-text-color);

  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  position: relative;
  transition: color var(--btn-timing) cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation .link:hover,
.navigation .link:focus {
  color: var(--accent-color);
}
/* Текущая страница в панели навигации выделена цветом */
.navigation .link.current {
  color: var(--accent-color);
}
/* Подчёркивание ссылки текущей страницы */
.navigation .link.current::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -1px;
  height: 4px;
  background-color: var(--accent-color);
}

/* Header Contacts */
.contacts-link {
  font-weight: 500;
  font-size: 12px;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  /* Расставляем в ряд иконки с текстом внутри блоков "contacts" и
     выравниваем по высоте */
  display: flex;
  align-items: center;
  @media screen and (max-width: 1199px) {
    margin-top: 10px;
  }
  // плавная анимация
  transition: color var(--btn-timing) cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

/* отступ иконки от текста внутри блоков "contacts" и 
   красим иконку в цвет текста*/

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

