/* ================= Section Opportunity ================ */
/* Убираю верхний падинг, который отсутствует только в этой секции */
.opportunity {
  padding-top: 0;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
// .opportunity {
//   @media screen and (max-width: 1200px) {
//     position: absolute;
//     width: 1px;
//     height: 1px;
//     margin: -1px;
//     border: 0;
//     padding: 0;

//     white-space: nowrap;
//     clip-path: inset(100%);
//     clip: rect(0 0 0 0);
//     overflow: hidden;
//   }
// }

/* Расставляяем Opportunity карточки по сетке и задаем размер */
.opportunity-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--gap));
  margin-top: calc(-1 * var(--gap));
}
.opportunity-item {
  margin-left: var(--gap);
  margin-top: var(--gap);
  flex-basis: calc(100% / 3 - var(--gap));
}
/* Overlay на карточки Opportunity */
.opportunity-wrapper {
  position: relative;
}
.opportunity-overlay {
  font-size: 14px;
  color: var(--hero-text-color);
  background-color: rgba(47, 48, 58, 0.8);

  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  overflow: auto;
}
