/* Форма для заполнения Модалки */
.modal-form {
  display: flex;
  flex-direction: column;
}
/* Заголовок модалки */
.modal-form-head {
  text-align: center;
  font-weight: 700;
  line-height: 1.17;
  font-size: 20px;
  margin-bottom: 12px;
}
/* Расстояние между окнами "полями" ввода */
.modal-form-field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}
.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}
/* Поля "Имя" "Телефон" "Email" */
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  &:focus + .modal-form-icon {
    fill: var(--accent-color);
  }
}
/* Иконки на поля "Имя" "Телефон" "Email" */
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  transition: fill var(--btn-timing) cubic-bezier(0.4, 0, 0.2, 1);
}

/* Поле "Комментарий" */
.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color var(--btn-timing) cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

/* Кнопка в модалке "Отправить" */
.modal-form-button {
  align-self: center;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--active-button-text-color);
  border-radius: 4px;
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color var(--btn-timing) cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow var(--btn-timing) cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    box-shadow: 0px 4px 4px 0px #00000026;
    background-color: var(--accent-color-hover-hero-button);
  }
}
