:root {
  /* Палитра цветов */
  /* цвет текст*/
  --primary-text-color: #757575;
  --alt-text-color: #212121;
  --hero-text-color: #ffffff;

  /* цвет лого */
  --logo-header-color: #000000;
  --logo-footer-color: #ffffff;

  /* цвет акцент */
  --accent-color: #2196f3;
  --accent-color-hover-hero-button: #188ce8;

  /* цвет кнопка */
  --active-button-text-color: #ffffff;
  --passive-button-bg-color: #f5f4fa;

  /* цвет фон */
  --primary-bg-color: #ffffff;
  --hero-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --feature-icon-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;

  /* цвет рамка */
  --header-border-color: #ececec;
  --portfolio-card-border-color: #eeeeee;

  /* цвет элемента "клиенты" */
  --client-color: #afb1b8;

  /* Расстояние между элементами в сетке */
  --gap: 30px;

  /* Задержки анимации */
  --btn-timing: 250ms;
  --modal-timing: 500ms;

  // Шрифт
  --font-family: "Roboto", sans-serif;
}
